<!DOCTYPE html>
<html lang="ja">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>回答ありがとうございました</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>


<body>


<main class="survey-card">


    <header class="survey-header">

        <h1>
            回答ありがとうございました！
        </h1>

    </header>


    <p
        style="
            text-align:center;
            font-size:16px;
            line-height:1.8;
            color:#555;
        "
    >
        アンケートへのご協力ありがとうございました。
    </p>
    <div
        style="
            margin-top:30px;
            padding-top:20px;
            border-top:1px solid #dceff5;
            text-align:center;
            font-size:14px;
            line-height:1.8;
            color:#888;
        "
    >
        <p style="margin:0;">
            榎本 実幸
        </p>

        <p style="margin:0;">
            お問い合わせ：
            <a href="mailto:miyuki.eno@gmail.com">
                miyuki.eno@gmail.com
            </a>
        </p>
    </div>

</main>


</body>

</html>
